<!DOCTYPE html>
<html lang="fr">
    {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rendez-vous nutritionnel</title>
  <link rel="stylesheet" href="{% static 'patient/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="nutrition-body">

  <div class="header-bar-vaccin">
        <h1>Rendez-vous nutritionnel</h1>
        <div class="header-buttons">
            <button class="btn btn-annuler">Annuler</button>
            <button class="btn btn-enregistrer" form="formapport_nutrition" type="submit">Enregistrer</button>
        </div>
    </div>

  <div class="patient-info-box">
    <div class="patient-details">
        <i class="fas fa-user-circle profile-icon"></i>
        <span class="patient-name">{{patient.nom}} {{patient.prenom}}</span>
        <span class="patient-age">{{patient.age}} ans</span>
        <span class="patient-sex">{{patient.sexe}}</span>
    </div>
</div>

  <main class="nutrition-form-container">
    <form action="{% url 'enregistrement_nutrition' patient.id %}" method="post">
      {% csrf_token %}
      <!-- Bloc Informations générales -->
      <div class="form-section info-box">
        <div class="form-group">
          <label for="code_unique">Code unique</label>
          <input type="text" id="code_unique" name="code_unique" value="{{ nutrition.code_nutrition|default_if_none:'' }}" readonly>
        </div>
        <div class="form-group">
          <label for="date_admission">Date d’admission</label>
          <input type="date" id="date_admission" name="date_admission" value="{{ nutrition.date_admission|date:'Y-m-d' }}">
        </div>
        <div class="form-group">
          <label for="etat_nutri">État nutritionnel</label>
          <select id="etat_nutri" name="etat_nutri" class="etat_nutri">
              <option value=""></option>
              <option value="normal" {% if nutrition.etat_nutri == 'normal' %}selected{% endif %}>Normal</option>
              <option value="modere" {% if nutrition.etat_nutri == 'modere' %}selected{% endif %}>Modéré</option>
              <option value="severe_sans_comp" {% if nutrition.etat_nutri == 'severe_sans_comp' %}selected{% endif %}>Sévère sans complication</option>
              <option value="severe_avec_comp" {% if nutrition.etat_nutri == 'severe_avec_comp' %}selected{% endif %}>Sévère avec complication</option>
              <option value="surpoids" {% if nutrition.etat_nutri == 'surpoids' %}selected{% endif %}>Surpoids</option>
              <option value="obeisite" {% if nutrition.etat_nutri == 'obeisite' %}selected{% endif %}>Obésité</option>
          </select>
        </div>
        <div class="form-group">
          <label for="date_sortie">Date de sortie</label>
          <input type="date" id="date_sortie" name="date_sortie" value="{{ nutrition.date_sortie|date:'Y-m-d' }}">
        </div>
        <div class="form-group">
          <label for="motif_sortie">Motif de sortie</label>
          <select id="motif_sortie" name="motif_sortie" class="etat_nutri">
              <option value=""></option>
              <option value="gueris" {% if nutrition.motif_sortie == 'gueris' %}selected{% endif %}>Guéri</option>
              <option value="abandon" {% if nutrition.motif_sortie == 'abandon' %}selected{% endif %}>Abandon</option>
              <option value="deces" {% if nutrition.motif_sortie == 'deces' %}selected{% endif %}>Décès</option>
          </select>
        </div>
        <div class="form-group btn-right">
          <button class="btn btn-save" type="submit">Enregistrer</button>
        </div>
      </div>
    </form>
    <form id= "formapport_nutrition" method="post" action="">
      {%csrf_token%}
      <!-- Bloc Dépistage et Produits -->
      <div class="form-row">

        <!-- Dépistage -->
        <div class="form-section depistage-box">
          <p><strong>Dépisté</strong></p>
          <label><input type="radio" name="depiste" value="oui"> Oui</label>
          <label><input type="radio" name="depiste" value="non"> Non</label>

          <div class="form-group">
            <label for="code_depistage">Code de dépistage</label>
            <input type="text" id="code_depistage" name="code_depistage" placeholder="ex: 09817/01/01/25/00001">
          </div>

          <p><strong>Résultat de dépistage</strong></p>
          <label><input type="radio" name="resultat" value="positif"> Positif</label>
          <label><input type="radio" name="resultat" value="negatif"> Négatif</label>
        </div>

        <!-- Produits -->
        <div class="form-section produits-box">
          <label><input type="checkbox" name="produits" value="lait"> Lait</label><br>
          <label><input type="checkbox" name="produits" value="plumpy"> Plumpy Nut</label><br>
          <label><input type="checkbox" name="produits" value="deparasitant"> Déparasitant</label><br>
          <label><input type="checkbox" name="produits" value="vitA100"> Vitamine A100</label><br>
          <label><input type="checkbox" name="produits" value="vitA200"> Vitamine A200</label>
        </div>

      </div>
    </form>
  </main>
</body>
</html>
