<!DOCTYPE html>
<html lang="fr">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccination</title>
    <link rel="stylesheet" href="{% static 'patient/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="vaccin-body">
  {% include 'patient/header.html' %}
    <div class="header-bar-vaccin">
        <h1>Vaccination</h1>
        <div class="header-buttons">
            <button class="btn btn-annuler">Annuler</button>
            <button class="btn btn-enregistrer" type="submit" form="formVaccin">Enregistrer</button>
        </div>
    </div>

    <div class="main-container-vaccin">

        <div class="patient-info-box">
            <div class="patient-details">
                <i class="fas fa-user-circle profile-icon"></i>
                <span class="patient-name">{{patient.nom}} {{patient.prenom}}</span>
                <span class="patient-age">{{patient.age}} Mois</span>
                <span class="patient-sex">{{patient.sexe}}</span>
            </div>
        </div>
        <form method="post" action="{% url 'enregistrement_vaccin' patient.id %}" id="formVaccin">
          {% csrf_token %}
          <div class="vaccination-grid">
            <div class="vaccin-column">
              <div class="column-header">À la naissance</div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_dtch_0" value="Dtc_HepB_Hib_0"><label for="v_dtch_0">DTC-HepB-Hib 1</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_bcg" value="BCG"><label for="v_bcg">BCG</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_vpo0" value="VPO0"><label for="v_vpo0">VPO 0</label></div>    
            </div>

            <div class="vaccin-column">
              <div class="column-header">À 6 semaine</div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_dtch_1" value="Dtc_HepB_Hib_1"><label for="v_dtch_1">DTC-HepB-Hib 1</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_pcv1" value="PCV1"><label for="v_pcv1">PCV1-1</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_vpo1" value="VPO1"><label for="v_vpo1">VPO 1</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_rota1" value="ROTA1"><label for="v_rota1">ROTA 1</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_vpi1" value="VPI1"><label for="v_vpi1">VPI 1</label></div>
            </div>

            <div class="vaccin-column">
              <div class="column-header">À 10 semaine</div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_dtch_2" value="Dtc_HepB_Hib_2"><label for="v_dtch_2">DTC-HepB-Hib 2</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_pcv2" value="PCV2"><label for="v_pcv2">PCV13-2</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_vpo2" value="VPO2"><label for="v_vpo2">VPO 2</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_rota2" value="ROTA2"><label for="v_rota2">ROTA 2</label></div>
            </div>

            <div class="vaccin-column">
              <div class="column-header">À 14 semaine</div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_dtch_3" value="Dtc_HepB_Hib_3"><label for="v_dtch_3">DTC-HepB-Hib 3</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_pcv3" value="PCV3"><label for="v_pcv3">PCV13-3</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_vpo3" value="VPO3"><label for="v_vpo3">VPO 3</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_vpi2" value="VPI2"><label for="v_vpi2">VPI 2</label></div>
            </div>
          
            <div class="vaccin-column complex-column">
              <div class="column-header">À 24 semaine</div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_vap1" value="VAP1"><label for="v_vap1">VAP 1</label></div>

              <div class="vaccin-sub-box">
                <div class="sub-header">À 32 semaine</div>
                <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_vap2" value="VAP2"><label for="v_vap2">VAP 2</label></div>
              </div>
            </div>

            <div class="vaccin-column">
              <div class="column-header">À 9 mois</div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_rr1" value="RR1"><label for="v_rr1">RR 1</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_vaa" value="VAA"><label for="v_vaa">VAA</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_mena" value="MenA"><label for="v_mena">Men A</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_vap3" value="VAP3"><label for="v_vap3">VAP 3</label></div>
            </div>

            <div class="vaccin-column complex-column">
              <div class="column-header">À 15 mois</div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_rr2" value="RR2"><label for="v_rr2">RR 2</label></div>
              <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_vap4" value="VAP4"><label for="v_vap4">VAP 4</label></div>
              
              <div class="vaccin-sub-box">
                <div class="sub-header">À 9ans Fille</div>
                <div class="vaccin-item"><input type="checkbox" name="vaccins" id="v_hpv" value="HPV"><label for="v_hpv">HPV</label></div>
              </div>
            </div>
            </div> 
            <div class="autre-vaccin-column">
              <div class="column-header">Autres vaccin</div>
              <div class="vaccin-items-container">
                <div class="vaccin-item-autre"><input type="checkbox" name="vaccins" id="v_vam" value="vam"><label for="v_vam">Vaccin anti-meningocique</label></div>
                <div class="vaccin-item-autre"><input type="checkbox" name="vaccins" id="v_ecv" value="ecv"><label for="v_ecv">Enfant complèmentent vacciné</label></div>
                <div class="vaccin-item-autre"><input type="checkbox" name="vaccins" id="v_epn" value="epn"><label for="v_epn">Enfant protégé à la naissance</label></div>
                <div class="vaccin-item-autre"><input type="checkbox" name="vaccins" id="v_eabmilda" value="eabmilda"><label for="v_eabmilda">Enfant ayant bénéficié de MILDA</label></div>
                <div class="vaccin-item-autre"><input type="checkbox" name="vaccins" id="v_ahb" value="ahb"><label for="v_ahb">Vaccin anti-hépatite B</label></div>
                <div class="vaccin-item-autre"><input type="checkbox" name="vaccins" id="v_vaxigrip" value="vaxigrip"><label for="v_vaxigrip">Vaxigrip</label></div>
                <div class="vaccin-item-autre"><input type="checkbox" name="vaccins" id="v_vat1" value="vat1"><label for="v_vat1">VAT 1</label></div>
                <div class="vaccin-item-autre"><input type="checkbox" name="vaccins" id="v_vat2" value="vat2"><label for="v_vat2">VAT 2</label></div>
                <div class="vaccin-item-autre"><input type="checkbox" name="vaccins" id="v_vatrap1" value="vatrap1"><label for="v_vatrap1">VAT 1er rappel</label></div>
                <div class="vaccin-item-autre"><input type="checkbox" name="vaccins" id="v_vatrap2" value="vatrap2"><label for="v_vatrap2">VAT 2e rappel</label></div>
                <div class="vaccin-item-autre"><input type="checkbox" name="vaccins" id="v_vatrap3" value="vatrap3"><label for="v_vatrap3">VAT 3e rappel</label></div>
              </div>
            </div>
          </div> 
        </form>
    </body>
</html>